<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>statusItem</key>
	<string>No</string>
	<key>skillLevels</key>
	<string>Roman</string>
	<key>trainingFormat</key>
	<string>Absolute</string>
</dict>
</plist>
